@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-webfont.eot');
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular-webfont.eot');
}



body {
    background-image: url('img/bg1.png');
    background-repeat: repeat;
    font-family: BebasNeue;
    font-size: 18px;
    letter-spacing: 3px;
}

a {
    cursor: pointer;
}

h1 {
    letter-spacing: 8px;
    line-height: 90%;
}

.panel-default > .panel-heading {
    background-color: white;

}

    .panel-default > .panel-heading > .panel-title > a {
        font-size: 18px;
    }

.panel {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.barArea {
    background-color: rgba(66,139,202,.25);
    width: 100%;
    height: 8px;
}

.bar {
    background-color: rgba(66,139,202,1);
    height: 8px;
    width: 0%;
}

.playerArea {
    margin-bottom: 12px;
    margin-bottom: 12px;
}
.regularText {
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0px;
}
.mainDiv{
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
    padding-right:12px;
    padding-left:12px;
}